<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
    <nav>
        <a href="index.php">Home</a>
        <a href="index.php?action=add">Add User</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
